flask
flask_sqlalchemy
flask_login
celery
redis
ultralytics
torch
python-dotenv
flask_cors
supabase

google-api-python-client
google-auth-httplib2
google-auth-oauthlib

Pillow
google-auth-transport-requests
gunicorn